Repository frieday-inc/frieday: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --quiet", "prettier --write"],
  "*.{md,json}": ["prettier --write"]
}

Delete .github/workflows/pull_request.yml
  .github/workflows/pull_request.yml
Due: none

Delete .github/workflows/pull_request.yml (#58)
  .github/workflows/pull_request.yml
Due: none

chore: setup repo (#57)
  .github/workflows/pre-release.yml
  .github/workflows/protect-main.yml
  .github/workflows/quality-check.yml
Due: none

test (#59)
  .github/workflows/.yml
  .github/workflows/codeql.yml
  .github/workflows/pre-release.yml
  .github/workflows/protect-main.yml
  .github/workflows/quality-check.yml
  README.md
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write

Delete .github/workflows/.yml
  .github/workflows/.yml
Due: none

Delete .github/workflows/.yml (#61)
  .github/workflows/.yml
Due: none

chore: REMOVE (#62)
  .github/workflows/.yml
Due: none

ci: rewrite name for best practices
  .github/workflows/pre-release.yml
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
Due: none

ci: add coderabbit configs
  .coderabbit.yaml
Due: none

ci: rewrite name for best practices (#63)
  .coderabbit.yaml
  .github/workflows/pre-release.yml
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
Due: none

ci: remove push trigger from quality-check workflow
  .github/workflows/quality-check.yml
Due: none

chore: add CODEOWNERS file to define repository ownership
  .github/CODEOWNERS
Due: none

chore: add pull request template for improved contribution guidelines
  .github/pull_request_template.md
Due: prettier --write

docs: add bug report issue template to enhance issue tracking
  .github/ ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: update bug report template for clarity and add configuration file
  .github/ ISSUE_TEMPLATE/bug_report.yml
  .github/ ISSUE_TEMPLATE/config.yml
Due: none

ci: add prettier step to quality-check workflow for code formatting
  .github/workflows/quality-check.yml
Due: none

chore: update package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: update quality-check workflow to run format step after lint and type-check
  .github/workflows/quality-check.yml
Due: none

chore: restore prettier-plugin-tailwindcss dependency
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: setup repo v1 (#64)
  .github/ ISSUE_TEMPLATE/bug_report.yml
  .github/ ISSUE_TEMPLATE/config.yml
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/quality-check.yml
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add tailwind css support to prettier configuration
  .prettierrc.json
Due: prettier --write

chore: enhance pull request template for clarity and consistency
  .github/pull_request_template.md
Due: prettier --write

Canry (#65)
  .coderabbit.yaml
  .github/ ISSUE_TEMPLATE/bug_report.yml
  .github/ ISSUE_TEMPLATE/config.yml
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/pre-release.yml
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update changeset configuration
  .changeset/config.json
Due: prettier --write

chore: add changeset configuration and readme for versioning
  packages/react/.changeset/README.md
  packages/react/.changeset/config.json
Due: prettier --write

chore: remove storybook dependencies and configuration files
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/styles/preview.css
  .storybook/vitest.setup.ts
  eslint.config.mjs
  package.json
  packages/react/eslint.config.mjs
  packages/react/package.json
  pnpm-lock.yaml
  stories/example/Button.stories.ts
  stories/example/Button.tsx
  stories/example/Configure.mdx
  stories/example/Header.stories.ts
  stories/example/Header.tsx
  stories/example/Page.stories.ts
  stories/example/Page.tsx
  stories/example/assets/accessibility.png
  stories/example/assets/accessibility.svg
  stories/example/assets/addon-library.png
  stories/example/assets/assets.png
  stories/example/assets/avif-test-image.avif
  stories/example/assets/context.png
  stories/example/assets/discord.svg
  stories/example/assets/docs.png
  stories/example/assets/figma-plugin.png
  stories/example/assets/github.svg
  stories/example/assets/share.png
  stories/example/assets/styling.png
  stories/example/assets/testing.png
  stories/example/assets/theming.png
  stories/example/assets/tutorials.svg
  stories/example/assets/youtube.svg
  stories/example/button.css
  stories/example/header.css
  stories/example/page.css
  tsconfig.json
  vitest.config.ts
Due: eslint --fix --quiet, prettier --write

chore: add new changeset for react patch
  .changeset/config.json
  .changeset/shiny-pens-fly.md
Due: prettier --write

chore: remove storybook build scripts from package.json
  .github/workflows/quality-check.yml
  package.json
Due: prettier --write
