Repository frieday-inc/frieday: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --quiet", "prettier --write"],
  "*.{md,json}": ["prettier --write"]
}

Chore/add version control (#28)
  .github/actions/setup/action.yml
  .github/workflows/check-build.yml
  .github/workflows/check-changeset.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/codeql.yml
  .github/workflows/pull-request-pipeline.yml
  README.md
  package.json
  packages/react/package.json
  turbo.json
Due: prettier --write

ci: Test
  package.json
  packages/react/README.md
  packages/react/package.json
  turbo.json
Due: prettier --write

chore: Bump version and update changelog
  .changeset/olive-stars-arrive.md
Due: prettier --write

ci: Fix error
  .github/workflows/check-type.yml
Due: none

ci: Fix
  turbo.json
Due: prettier --write

refactor: Remove unused code
  .changeset/README.md
  .changeset/config.json
  .changeset/olive-stars-arrive.md
  .changeset/rotten-aliens-travel.md
  .changeset/silent-donkeys-reply.md
Due: prettier --write

Chore/add version control (#29)
  .changeset/README.md
  .changeset/config.json
  .changeset/rotten-aliens-travel.md
  .changeset/silent-donkeys-reply.md
  .github/workflows/check-type.yml
  package.json
  packages/react/README.md
  packages/react/package.json
  turbo.json
Due: prettier --write

refactor: Change
  .github/workflows/_check-changeset
  .github/workflows/pr.yml
Due: none

chore: Add version control (#30)
  .github/workflows/_check-changeset
  .github/workflows/pr.yml
Due: none

ci: Test
  .github/actions/check/build.yml
  .github/actions/check/lint.yml
  .github/actions/check/type.yml
  .github/workflows/_check-changeset
  .github/workflows/pull_request_pipeline.yml
Due: none

ci: Test
  .github/actions/setup/action.yml
Due: none

Delete .github directory
  .github/actions/setup/action.yml
  .github/workflows/_check-changeset
  .github/workflows/check-build.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
Due: none

Delete .github directory (#32)
  .github/actions/setup/action.yml
  .github/workflows/_check-changeset
  .github/workflows/check-build.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
Due: none

Delete .github directory
  .github/actions/check/build.yml
  .github/actions/check/lint.yml
  .github/actions/check/type.yml
  .github/actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/pull_request_pipeline.yml
Due: none

ci: Test
  README.md
Due: prettier --write

ci: Refactor code
  .github/actions/setup/action.yml
  .github/workflows/pull_request_pipeline.yml
Due: none

ci: Add copy
  .github copy/actions/setup/action.yml
  .github copy/workflows/pull_request_pipeline.yml
Due: none

ci: Add test
  .github/actions/setup/action.yml
  .github/workflows/pull_request_pipeline.yml
Due: none

ci: Add CodeQL
  .github/workflows/codeql.yml
Due: none

ci: Add test (#35)
  .github/actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/pull_request_pipeline.yml
Due: none

docs: Update readme
  README.md
Due: prettier --write

ci: Update codeql
  .github/workflows/pull_request_pipeline.yml
Due: none

ci: Remove coedql
  .github/workflows/pull_request_pipeline.yml
Due: none

ci: Feat add codeql
  .github/workflows/codeql.yml
Due: none

ci: Update codeql
  .github/workflows/codeql.yml
Due: none

feat: Add ci
  .github/workflows/codeql.yml
Due: none

ci: Fix error
  .github/workflows/codeql.yml
Due: none

feat: Add Perform CodeQL Analysis
  .github/workflows/codeql.yml
Due: none

ci: Fix it
  .github/workflows/codeql.yml
Due: none

ci: Fix
  .github/workflows/codeql.yml
Due: none

Chore/setup actions (#36)
  .github/workflows/codeql.yml
  README.md
Due: prettier --write

ci: Fix
  .github/workflows/release.yml
Due: none

Chore/setup actions (#37)
  .github/workflows/release.yml
Due: none

chore: Add changeset
  .changeset/config.json
  packages/react/README.md
Due: prettier --write

ci: Test
  .changeset/gentle-islands-hammer.md
  packages/react/README.md
Due: prettier --write

Chore/setup actions (#38)
  .changeset/config.json
  .changeset/gentle-islands-hammer.md
  packages/react/README.md
Due: prettier --write

chore: add message-lowercase rule
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write

ci: add ci
  .github/actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

ci: add commitlint rule.
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write
