Repository frieday-inc/frieday: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --quiet", "prettier --write"],
  "*.{md,json}": ["prettier --write"]
}

ci: add commitlint rule.
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write

ci: add this.
  .github/workflows/codeql.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Chore/setup actions (#39)
  .github/actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_pipeline.yml
  .github/workflows/release.yml
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write

fix: it.
  .github/workflows/release.yml
Due: none

Chore/setup actions (#40)
  .github/workflows/release.yml
Due: none

test: ci.
  .github/actions/setup/action.yml
  .github/workflows/changeset-version.yml
  .github/workflows/release.yml
Due: none

ci: fix.
  .github/actions/setup/action.yml
Due: none

Chore/setup actions (#41)
  .github/actions/setup/action.yml
  .github/workflows/changeset-version.yml
  .github/workflows/release.yml
Due: none

fix: ci.
  .github/workflows/changeset-version.yml
Due: none

Chore/setup actions (#42)
  .github/workflows/changeset-version.yml
Due: none

ci: fix.
  .github/workflows/codeql.yml
Due: none

Chore/setup actions (#44)
  .github/workflows/codeql.yml
Due: none

ci: test.
  .github/workflows/release.y_m_l
Due: none

ci: test.
  .github/actions/setup/action.yml
  .github/workflows/changeset-version.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.y_m_l
  .github/workflows/release.yml
Due: none

Delete .github/workflows/changeset-version.yml
  .github/workflows/changeset-version.yml
Due: none

Delete .github/workflows/changeset-version.yml (#47)
  .github/workflows/changeset-version.yml
Due: none

Chore/setup actions (#46)
  .github/actions/setup/action.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

docs: test.
  README.md
Due: prettier --write

fix: error ci.
  .github/actions/setup/action.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Chore/setup actions (#48)
  .github/actions/setup/action.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.md
Due: prettier --write

test: update version.
  .changeset/kind-paths-poke.md
  .github/workflows/codeql.yml
  README.md
Due: prettier --write

Chore/setup actions (#49)
  .changeset/kind-paths-poke.md
  .github/workflows/codeql.yml
  README.md
Due: prettier --write

fix: commitlint error.
  .github/workflows/release.yml
Due: none

Chore/setup actions (#50)
  .github/workflows/release.yml
Due: none

ci: fix.
  .github/workflows/release.yml
Due: none

Chore/setup actions (#51)
  .github/workflows/release.yml
Due: none

ci: test.
  .github/workflows/release.yml
Due: none

Chore/setup actions (#52)
  .github/workflows/release.yml
Due: none

feat: add skip ci.
  .husky/commit-msg
Due: none

Chore/setup actions (#53)
  .husky/commit-msg
Due: none

ci: add permissions.
  .github/workflows/release.yml
Due: none

Chore/setup actions (#54)
  .github/workflows/release.yml
Due: none

docs: add sample bage.
  README.md
Due: prettier --write

ci: refactor workflow.
  .github/workflows/codeql.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

refactor: clean code for best practices.
  .github/workflows/release.yml
Due: none

chore: remove subject-full-stop rule
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write

chore: remove codeql analyze
  .github/workflows/codeql.yml
Due: none

ci: add check pull request source
  .github/workflows/.yml
Due: none

chore: setup repo (#56)
  .github/workflows/.yml
  .github/workflows/codeql.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.md
  commitlint.config.ts
Due: eslint --fix --quiet, prettier --write

ci: update github woekflows
  .github/workflows/pre-release.yml
  .github/workflows/protect-main.yml
  .github/workflows/quality-check.yml
Due: none
